@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: gray rgb(11, 116, 11);
}

.bgColor {
  background-color: rgb(11, 116, 11);
}

.text {
  color: white;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
