@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar {
  scrollbar-width: thin;
}

.text {
  color: white;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
